body {
    font-family: 'Outfit', sans-serif;
    background: #f0f2f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
header {
    background-color: #af4c4c;
    color: white;
    padding: 10px 0;
    text-align: center;
}
  .blank-box {
    width: 320px;
    height: 499px;
    border: 1px solid black; 
    background-color: lightgray;
    border-radius: 15px;
  }

.footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;

}
p {
    text-align: center;
    color: #1f2f41;
    margin: 15px 0;
    line-height: 1.5;
}
p1, p2 {
    display: block;
    text-align: center;
    margin: 20px auto;
}
p1 {
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    letter-spacing: 0px;
    line-height: 120%;
    font-size: 22px;
}
p2{
    font-family: 'Outfit', sans-serif;
    font-weight: normal;
    letter-spacing: 0.2px;
    line-height: 140%;
    font-size: 15px;
}
.attribution {
    font-size: 15px;
    text-align: center;
    color: #7b8e9d;
}
.attribution a {
    color: #4e5f73;
}
.attribution a:hover {
    color: #af4c4c;
}
img {
    width: 288px;
    height: 288px;
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
    border-radius: 15px;
}
footer {
    font-size: 11px;
    text-align: center;
    color: #7b8e9d;
    margin-top: 20px;
}
footer a {
    color: #4e5f73;
}
footer a:hover {
    color: #af4c4c;
}


